<html>
    <head>
        <title>ToDo List</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    </head>
    <body>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new item..." required>
                <button type="submit">Add item</button>
            </form>
            <ul>
                <% todos.forEach(function(todothing){ %>
                    <li><%= todothing.item %></li>
                  <% }); %>
            </ul>
        </div>
    </body>
</html>